*{
    box-sizing: border-box;
    font-family:arial;
}

body{
    background-image: linear-gradient(120deg,#585456,#3a30d0);
    
}
.FORM-text header a {
    font-family: Beaumont;
    font-size: 80px;
    text-decoration: none;
   
    
}
.FORM-text header a:visited {
    color: rgb(92, 90, 90);
}
.FORM-text header a:hover {
    color: #797378;
}
h1{
    font-family: arial;
    text-align: center;
    margin-top: 10px;  
}
input{
    margin-bottom: 20px;
    font-size: 15px;
    padding: 7px;
    border-color: #f1f1f3;
    background-color: #968f96;
}
.FORM{
    width: 360px;
    background: #ffffff;
    height: 850px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.FORM-text {
    margin-top: -55px;
    text-align: center;
    
}
.FORM-text label{
    font-family: arial;
    font-size: 15px;
    font-style: italic;
}
.msg-erreur{
    font-size: 12px;
    color: #646162;
}
#accept{
    font-size: 13px;
}
p{
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
}
p a{
    text-decoration: none;
    font-weight: bold;
}
p a:visited{
    color: black;
}
p a:hover{
    color: #636063; 
}